{% extends "news/base_news.html" %}

{% load mogrify sectionfronts mailfriend listutil content generic_content cached_comments rating_tags numutil events categories weblogs photos metadata weather stories %}


{% block extended_meta %}
    {{block.super}}
    {% retrieve_object news.section 1 as home_section %}
    {% with home_section as object %}{% include "includes/metadata.html" %}{% endwith %}
{% endblock %}


 {% block extended_scripts %}
 {{block.super}}
 <script type="text/javascript"?>
    // DRAGDEALER

    // adjust the length of the headline so as not to double over.
    $(document).ready(function() {
      $('.dragdealer-slide-title h4 a').each(function() {
        if ($(this).html().length > 35) 
        {
          var title = $(this).html().substring(0,35)+'...';
          $(this).html(title);
        }
      });
    });

    // make rotate
    setInterval(
      function(){
        var next = $('ul.dragdealer-pagination li a.on').parent().next();
        if(next.length == 0) {
          next = $('ul.dragdealer-pagination li').first();
        }
        next.find('a').triggerHandler('click');
      },10000);

    // Rotating Blog Tabs
    $(function(){
      $('#tabs').tabs({ fx: { opacity: 'toggle' } }); //.tabs('rotate', 3000);
      $('#tabs').hover(function(){
                       $(this).tabs('rotate', 0, false);
                       },function(){
                       $(this).tabs({ fx: { opacity: 'toggle' } }); //.tabs('rotate', 50000);
                       }
                       );
      });
    $('#tabs').click(function(){
                     $(this).tabs('rotate', 0, false);
                     $(this).unbind('hover');
                     });

    $('.ui-tabs-nav li a').hover(
        function() {
            var name = $('this').attr("class");
            $('#tabs').addClass(name);
        },
        function() {
            var name = $('this').attr("class");
            $('#tabs').removeClass(name);
        }
    );

</script>
 {% endblock %}

{% block body_class %}{{ block.super }} homepage{% endblock %}
{% block content_title_wrapper %}{% endblock %}

{% block subnav %}    
<div id="subnav">
    <div class="wrapper">
        <ul>
            <li class="home-subnav"><a href="/news/people/">People</a></li>
            <li class="home-subnav"><a href="/news/business/">Biz+Tech</a></li>
            <li class="home-subnav"><a href="/news/politics/">Politics</a></li>
            <li class="home-subnav"><a href="/news/good/">Good Ideas</a></li>
            <li class="home-subnav"><a href="/news/bodysoul/">Body/Soul</a></li>
            <li class="home-subnav"><a href="/news/flystyle/">Fly</a></li>
            <li class="home-subnav"><a href="/classifieds/">Classifieds</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block content %}
    {% get_section_front for "home" as home_sfront %}
    {% get_latest_content for news.story as story_list limit 50 %}
    
    {% if home_sfront.breaking_news_story or home_sfront.breaking_news_entry %}

        <div class="breaking_news">
                    <span class="breaking">BREAKING:</span> 
                        {% if home_sfront.breaking_news_story %}
                            {% with story=home_sfront.breaking_news_story %}
                                <h3 class="headline-small"><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a><span class="date">{{ story.pub_date|timesince}} ago ...</span></h3>
                            {% endwith %}
                        {% else %}
                            {% with story=home_sfront.breaking_news_entry %}
                                <h3 class="headline-small"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a><span class="date">{{ story.pub_date|timesince}} ago ...</span></h3>
                                
                            {% endwith %}
                        {% endif %}
        </div>
    {% endif %}
    

        <!-- LEFT SIDEBAR
        ======================================================================== -->
        <div class="section left_sidebar">
        
            <!-- LATEST NEWS
            ======================================================================== -->
            <div class="jfp_daily left-sidebar-section">
                {% get_latest_section_content for news.story 'noise' as daily_list limit 30 %}
                {% if daily_list %}
                    <h3 class="section_tag">Latest News</h3>
                    
                    {% if home_sfront.daily_lead_story %}
                        {% exclude_from_list daily_list home_sfront.daily_lead_story as daily_list %}
                    {% else %}
                        {% if home_sfront.lead_stories %}
                            {% exclude_from_list daily_list home_sfront.lead_stories as daily_list %}
                        {% endif %}
                    {% endif %}
                    
                    <!-- Need to add place home-sfront.lead_stories -->

                    {% for story in daily_list|slice:":5" %}
                        <article>
                            {% if story|is_in_category:"/person-of-the-day" %}
                                {% render_template_for story in "includes/category" %}
                            {% endif %}
                            <h4 class="headline-small"><a href="{{ story.get_absolute_url }}">{{ story.headline|striptags }}</a></h4>
                            {% render_template_for story in "includes/byline" %}
                            {% if story.tease %}
                                <p class="intro-type">{{ story.tease|striptags|truncatewords:"15" }}</p>
                            {% endif %}
                            

                            &nbsp;<span class="highlight-type">{{ story.pub_date|timesince}} ago ...</span>

                            {% get_cached_comment_count for story as comment_count %} 
                            {% if comment_count %}
                                <a href="{{story.get_absolute_url}}" class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
                            {% endif %}
                        </article>
                    {% endfor %}
                    <span class="lone-link"><a class="lone-link" href="/news/all/">Latest Stories</a></span>
            </div>
            
<!-- WEATHER
        ========================================================== -->
        {% weather %}
            {% if conditions %}
            <div class="weather_forecast">
                <div class="current_conditions">
                  <a class="icon" href="/weather/"><img width="75px" src="{{ STATIC_MEDIA_URL }}jacksonfreepress/2.3.0/images/weather/small/{{ conditions.image_name }}.png" alt=""></a>
                  <ul class="temp">
                  <li class="temp">
                    {% get_latest_content for weather.currentcondition as condition_list limit 40 %}
                    {% if conditions.temperature %}
                        {{ conditions.temperature|floatformat:0 }}<span class="deg">&deg;</span>
                    {% else %}
                        n/a
                    {% endif %}
                    </li>
                </ul>

                  <ul class="day">
                        <li class="humidity highlight-type">Humidity: {{ conditions.humidity|default_if_none:"n/a" }}</li>
                        <li class="wind highlight-type">Wind from {{ conditions.wind_compass|default_if_none:"n/a" }} {{ conditions.wind_speed|default_if_none:"n/a" }} mph</li>
                  </ul>
                </div>
                <div class="list future_forecast">
                  {% for forecast in daily_forecasts|slice:":1" %}
                    <div class="item">
                      <ul class="weather_tommorrow">
                        <li class="weather_tommorrow"><a class="lone-link" href="/weather/">Tomorrow</a></li>
                        <li class="high highlight-type">{% if forecast.high_temp %}{{ forecast.high_temp|floatformat:0 }}<span class="deg">&deg;</span>{% else %}n/a{% endif %}</li>
                        <li>&ndash;</li>
                        <li class="low highlight-type">{% if forecast.low_temp %}{{ forecast.low_temp|floatformat:0 }}<span class="deg">&deg;</span>{% else %}n/a{% endif %}</li>
                      </ul>
                    </div>
                  {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endweather %}

            
            



            <!-- CURRENT ISSUE TABLE OF CONTENTS 
            ======================================================================== -->
            <div class="table_of_contents left-sidebar-section"> 
                {% retrieve_object media.phototype 2 as covertype %}
                {% if covertype.photos.count %}
                    {% with covertype.photos.all.0 as photo %}
                        {% render_template_for photo in "includes/past_editions" %}          
                    {% endwith %}
                {% endif %}
            </div> <!-- / CURRENT ISSUE TABLE OF CONTENTS -->
        
        </div><!-- /LEFT SIDEBAR -->

        <div class="section section_wide"> 
            <!-- CAROUSEL 
            ============================================================ -->
            <div class="carousel">
            
            {% if home_sfront.daily_lead_story %}
                {% with story=home_sfront.daily_lead_story %}
                    {% if story.lead_photo %}
                    <div>
                        <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            {% render_template_for story in "includes/category" %}
                            <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                            {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                            
                            {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                            
                            <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                            {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        </div>
                    </div>
                    {% endif %} <!-- lead_story.lead_photo -->
                {% endwith %}<!-- lead_story=home_sfront.daily_lead_story -->
            {% endif %}
            
            {% if home_sfront.lead_stories %}
                {% for story in home_sfront.lead_stories %}
                {% if story.lead_photo %}
                <div>
                    <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                    <div class="dragdealer-slide-title">
                        {% render_template_for story in "includes/category" %}
                        <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                        {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                        
                        {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                        
                        <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                        {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                    </div>
                </div>
                {% endif %} <!-- story.lead_photo -->
                {% endfor %}<!-- story in homesfront.lead_stories -->
            {% else %}<!-- home_sfront.lead_stories -->
                {% for story in story_list %}
                    {% if story.lead_photo %}
                    <div>
                        <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            {% render_template_for story in "includes/category" %}
                            <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                            {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                            
                            {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                            
                            <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                            {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        </div>
                    </div>
                    {% endif %}<!-- story.lead_photo -->
                {% endfor %}
            {% endif %}

            {% if home_sfront.layouts %}
                {% for layout in home_sfront.layouts %}
                    {% if layout.photo %}
                    <div>
                        <a href="{{ layout.endpoints.all.0.url }}"><img src="{% mogrify layout.photo.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            <span class="category">Featured Section</span>
                            <h4><a href="{{ layout.endpoints.all.0.url }}">{{ layout.headline }}</a></h4>
                            {% if layout.description %}<p class="intro-type">{{ layout.description|truncatewords:"30" }}</p>{% endif %}  
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if home_sfront.photo_gallery %}
                {% for gallery in home_sfront.photo_gallery %}
                    {% with photo=gallery.get_photo_list.0 %}
                        {% if photo %}
                            <div>
                                <a href="{{gallery.get_absolute_url}}"><img src="{% mogrify photo.photo.url resize "440x250" %}" alt=""></a>
                                <div class="dragdealer-slide-title">
                                    <span class="category">Photo Gallery</span>
                                    <h4><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h4>
                                    {% if gallery.blurb %}<p class="intro-type">{{ gallery.blurb|striptags|truncatewords:"20" }}{% get_cached_comment_count for gallery as comment_count %}{% if comment_count %}<small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</p>{% endif %}  
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

            </div> <!-- Carosel -->
        </div>
        
        
        <!-- Wire Stories 
        ================================================= -->
        {% get_latest_section_content for news.story 'wire' as wire_list limit 30 %}
        {% exclude_from_list wire_list daily_list as wire_list %}
        {% if wire_list %}
        <div class="section section_wide wire_stories">
            <h3>From the Wire</h3>
                <ul>
                {% for story in wire_list|dictsortreversed:"pub_date"|slice:"0:5" %}
                    <li class="{%if forloop.last %}last{%endif%}">
                        {% render_template_for story in "includes/category" %}
                        <a class="headline-small" href="{{story.get_absolute_url}}">{{story.headline}}{% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</a>
                    </li>
                {% endfor %}
                </ul>
                <span class="lone-link"><a class="lone-link" href="/news/wire/">All Wire Stories</a></span>
            </div><!-- /Blog Tabs -->
        {% endif %}

        <!-- Blog Tabs 
        ================================================= -->

        {% if home_sfront.featured_blogs %}
        <!-- This is obnoxious but I think unavoidable. I tried to use 'Groups' as a organizing tool, but you have to assign every single entry to the group, which isn't elegant. There is not other way of pulling entries for certain blogs -->
            {% get_latest_entries home_sfront.featured_blogs.0 10 as entry_list %}
            {% get_latest_entries home_sfront.featured_blogs.1 10 as set_two %}
            {% get_latest_entries home_sfront.featured_blogs.2 10 as set_three %}
            {% get_latest_entries home_sfront.featured_blogs.3 10 as set_four %}
            {% get_latest_entries home_sfront.featured_blogs.4 10 as set_five %}
            {% get_latest_entries home_sfront.featured_blogs.5 10 as set_six %}
            {% get_latest_entries home_sfront.featured_blogs.6 10 as set_seven %}

            {% if set_two %}{% merge_lists entry_list by "pub_date" set_two by "pub_date" as entry_list %}{% endif %}
            {% if set_three %}{% merge_lists entry_list by "pub_date" set_three by "pub_date" as entry_list %}{% endif %}
            {% if set_four %}{% merge_lists entry_list by "pub_date" set_four by "pub_date" as entry_list %}{% endif %}
            {% if set_five %}{% merge_lists entry_list by "pub_date" set_five by "pub_date" as entry_list %}{% endif %}
            {% if set_six %}{% merge_lists entry_list by "pub_date" set_six by "pub_date" as entry_list %}{% endif %}
            {% if set_seven %}{% merge_lists entry_list by "pub_date" set_seven by "pub_date" as entry_list %}{% endif %}
            {% if set_eight %}{% merge_lists entry_list by "pub_date" set_eight by "pub_date" as entry_list %}{% endif %}
            {% if set_nine %}{% merge_lists entry_list by "pub_date" set_nine by "pub_date" as entry_list %}{% endif %}
            {% if set_ten %}{% merge_lists entry_list by "pub_date" set_ten by "pub_date" as entry_list %}{% endif %}

            {% if entry_list %}
            <div class="section section_wide featured_blog_entries">
                <h3>JFP Blogs</h3>
                
                {% for entry in entry_list|dictsortreversed:"pub_date"|slice:"0:7" %}
                    {% if forloop.counter == 1 %}
                        <a href="{{entry.blog.get_absolute_url}}" class="category">
                                {% if entry.blog.tease_image %}
                                    <img src="{% mogrify entry.blog.tease_image.url resize "65" %}">
                                {% else %}
                                    {{entry.blog.title}}
                                {% endif %}
                        </a>
                        <h4 class="headline-small"><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h4>
                        <p class="intro-type">{% if entry.summary %}{{entry.summary|truncatewords:"20"}}{% else %}{{entry.body|truncatewords:"20"}}{%endif%}</p>
                        <span class="byline">By {{entry.author}}</span>&nbsp;&nbsp;<span class="highlight-type">{{ entry.pub_date|date:"N j"}}</span>{% get_cached_comment_count for entry as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        
            <ul>
                    {% else %}
                        <li class="{%if forloop.last %}last{%endif%}">
                            <a href="{{entry.blog.get_absolute_url}}">
                                {% if entry.blog.tease_image %}
                                    <img src="{% mogrify entry.blog.tease_image.url resize "65" %}">
                                {% else %}
                                    {{entry.blog.title}}
                                {% endif %}
                            </a>
                        </span><a class="headline-small" href="{{entry.get_absolute_url}}">{{entry.title}}{% get_cached_comment_count for entry as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</a>
                            </li>
                    {% endif %}
                {% endfor %}
                </ul>
                <span class="lone-link"><a class="lone-link" href="/weblogs/">All Blog Posts</a></span>
            </div><!-- /Blog Tabs -->
            {% endif %}

        {% endif %}
        

<!-- LATEST MEDIA 
============================================================================= -->
            
    <div class="section_wide latest_multimedia">
            {% get_latest_content for photogalleries.gallery as latest_gallery %}
            <h3 class="section_tag">Latest Galleries</h3>
            <ul class="homepage-multimedia">
                <li class="multimedia-large">
                    <!--
                    <a class="thumbnail" href="{{ latest_video.0.get_absolute_url }}" rel="video_player_swf"><img src="{% mogrify latest_video.0.thumbnail_photo.url resize "290x194" %}" alt=""></a>
                    -->
                    {% with gallery=latest_gallery.0 %}
                    <a class="thumbnail" href="{{ gallery.get_absolute_url }}">
                        {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                        {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                            <img src="{% mogrify img resize "290x194" %}" alt="">
                        {% endwith %}
                        {% endwith %}
                    </a>
                    {% endwith %}
                </li>
                <li class="multimedia-small multimedia-far-right">
                    {% for gallery in latest_gallery|slice:"1:2" %}
                        <!--
                        <a class="thumbnail" href="{{ video.get_absolute_url }}" rel="video_player_swf"><img src="{% mogrify video.thumbnail_photo.url resize "140x92" %}" alt=""></a>
                        -->
                        <a class="thumbnail" href="{{ gallery.get_absolute_url }}">
                            {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                            {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                                <img src="{% mogrify img resize "140x92" %}" alt="">
                            {% endwith %}
                            {% endwith %}
                        </a>
                    {% endfor %}
                </li>
                <li class="multimedia-small multimedia-far-right">
                   <img style="float:left;width:10px;padding-top:3px;" src="{{ STATIC_MEDIA_URL }}jacksonfreepress/2.3.0/images/arrows/top.gif"/>
                   <span class="category video"><a href="/galleries/">Gallery</a></span>
                   <span class="caption video-caption"><a href="{{ latest_video.1.get_absolute_url }}">{{ latest_gallery.1.name }}</a></span>
                   <br/>
                   <img style="float:left;width:5px;height:10px;padding:2px 0 0 5px;clear:both;" src="{{ STATIC_MEDIA_URL }}jacksonfreepress/2.3.0/images/arrows/left.gif"/>
                    <span class="category video"><a href="/galleries/">Gallery</a></span>
                   <span class="caption video-caption"><a href="{{ latest_video.0.get_absolute_url }}">{{ latest_gallery.0.name }}</a></span>
                </li>

                {% for gallery in latest_gallery|slice:"3:6" %}
                    <li class="multimedia-bottom multimedia-small{% if forloop.counter == 3 %} multimedia-far-right{% endif %}">
                        <a href="{{ gallery.get_absolute_url }}">
                            {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                            {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                                <img src="{% mogrify img resize "140x92" %}" alt="">
                            {% endwith %}
                            {% endwith %}
                        </a>
                    </li>
                {% endfor %}

                {% for gallery in latest_gallery|slice:"3:6" %}
                    <li class="multimedia-small{% if forloop.counter == 3 %} multimedia-far-right{% endif %}">
                        <span class="category"><a href="/photos/galleries/">Gallery</a></span>
                        <br/>
                        <span class="caption"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></span>
                        <br/>
                        <span class="highlight-type">{{ gallery.creation_date|date:"M d" }}</span>
                    </li>
                {% endfor %}
            </ul>
    </div> <!-- /Section Wrapper -->


<!-- LOWER SECTIONS 
========================================================================================== -->
{% if home_sfront.lower_sections %}
        {% for section in home_sfront.lower_sections %}
            {% render_template_for section in "includes/lower_sections" %}
        {% endfor %}
{% endif %}

    {% endif %} <!-- if sfront -->
{% endblock %} <!-- content -->



         
