{% extends "news/base_news.html" %}

{% load mogrify sectionfronts mailfriend listutil content generic_content cached_comments rating_tags numutil events categories weblogs photos %}



{% block fulltitle %}Jackson Free Press{% endblock %}

 {% block extended_scripts %}
 {{block.super}}
 <script type="text/javascript"?>
    // DRAGDEALER

    // adjust the length of the headline so as not to double over.
    $(document).ready(function() {
      $('.dragdealer-slide-title h4 a').each(function() {
        if ($(this).html().length > 28) 
        {
          var title = $(this).html().substring(0,28)+'...';
          $(this).html(title);
        }
      });
    });

    // make rotate
    setInterval(
      function(){
        var next = $('ul.dragdealer-pagination li a.on').parent().next();
        if(next.length == 0) {
          next = $('ul.dragdealer-pagination li').first();
        }
        next.find('a').triggerHandler('click');
      },10000);

    // Rotating Blog Tabs
    $(function(){
      $('#tabs').tabs({ fx: { opacity: 'toggle' } }); //.tabs('rotate', 3000);
      $('#tabs').hover(function(){
                       $(this).tabs('rotate', 0, false);
                       },function(){
                       $(this).tabs({ fx: { opacity: 'toggle' } }); //.tabs('rotate', 50000);
                       }
                       );
      });
    $('#tabs').click(function(){
                     $(this).tabs('rotate', 0, false);
                     $(this).unbind('hover');
                     });

    $('.ui-tabs-nav li a').hover(
        function() {
            var name = $('this').attr("class");
            $('#tabs').addClass(name);
        },
        function() {
            var name = $('this').attr("class");
            $('#tabs').removeClass(name);
        }
    );

</script>
 {% endblock %}

{% block body_class %}{{ block.super }} homepage{% endblock %}
{% block content_title_wrapper %}{% endblock %}

{% block subnav %}    
<div id="subnav">
    <div class="wrapper">
        <ul>
            <li class="home-subnav"><a href="/news/people/">People</a></li>
            <li class="home-subnav"><a href="/news/business/">Biz+Tech</a></li>
            <li class="home-subnav"><a href="/news/politics/">Politics</a></li>
            <li class="home-subnav"><a href="/news/good/">Good Ideas</a></li>
            <li class="home-subnav"><a href="/news/bodysoul/">Body/Soul</a></li>
            <li class="home-subnav"><a href="/news/flystyle/">Fly</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block content %}
    {% get_section_front for "home" as home_sfront %}
    {% get_latest_content for news.story as story_list limit 50 %}
    
    {% if home_sfront.breaking_news %}
    <div class="breaking_news">
        <h3><span class="breaking">BREAKING:</span> <a href="{{ home_sfront.breaking_news.get_absolute_url }}">{{ home_sfront.breaking_news.headline }}</a> <span class="date">{{ home_sfront.breaking_news.pub_date|timesince}} ago ...</span></h3>
    </div>
    {% endif %}
    

        <!-- LEFT SIDEBAR
        ======================================================================== -->
        <div class="section left_sidebar">
        
            <!-- LATEST NEWS
            ======================================================================== -->
            <div class="jfp_daily left-sidebar-section">
                {% get_latest_section_content for news.story 'noise' as daily_list limit 30 %}
                {% if daily_list %}
                    <h3 class="section_tag">Latest News</h3>
                    
                    {% if home_sfront.daily_lead_story %}
                        {% exclude_from_list daily_list home_sfront.daily_lead_story as daily_list %}
                    {% else %}
                        {% if home_sfront.lead_stories %}
                            {% exclude_from_list daily_list home_sfront.lead_stories as daily_list %}
                        {% endif %}
                    {% endif %}
                    
                    <!-- Need to add place home-sfront.lead_stories -->

                    {% for story in daily_list|slice:":4" %}
                        <article>
                            <h4 class="headline-small"><a href="{{ story.get_absolute_url }}">{{ story.headline|striptags }}</a></h4>
                            {% render_template_for story in "includes/byline" %}
                            {% if story.tease %}
                                <p class="intro-type">{{ story.tease|striptags|truncatewords:"15" }}</p>
                            {% endif %}
                            

                            &nbsp;<span class="highlight-type">{{ story.pub_date|timesince}} ago ...</span>

                            {% get_cached_comment_count for story as comment_count %} 
                            {% if comment_count %}
                                <a href="{{story.get_absolute_url}}" class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
                            {% endif %}
                        </article>
                    {% endfor %}
                    <span class="lone-link"><a class="lone-link" href="/news/">More News</a></span>
            </div>
            
            <!-- NEWSLETTER FORM
            ======================================================================== -->

            
            <div class="newsletter-form left-sidebar-section">
                <h5>JFP Daily<span class="highlight-type">get it once a day</span></h5>
                <p style="color:#999;"><span>Subscribe</span> to our daily breaking newsletter.</p>
                <form action="http://jacksonfreepress.us2.list-manage.com/subscribe/post?u=714698ea2eb241d6b850c7f6b&amp;id=d786f82669" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <input input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </form>
            </div>



            <!-- CURRENT ISSUE TABLE OF CONTENTS 
            ======================================================================== -->
            <div class="table_of_contents left-sidebar-section"> 
                {% retrieve_object media.phototype 2 as covertype %}
                {% if covertype.photos.count %}
                    {% with covertype.photos.all.0 as photo %}
                        {% render_template_for photo in "includes/past_editions" %}          
                    {% endwith %}
                {% endif %}
            </div> <!-- / CURRENT ISSUE TABLE OF CONTENTS -->
        
        </div><!-- /LEFT SIDEBAR -->

        <div class="section section_wide"> 
            <!-- CAROUSEL 
            ============================================================ -->
            <div class="carousel">
            
            {% if home_sfront.daily_lead_story %}
                {% with story=home_sfront.daily_lead_story %}
                    {% if story.lead_photo %}
                    <div>
                        <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            {% render_template_for story in "includes/category" %}
                            <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                            {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                            
                            {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                            
                            <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                            {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        </div>
                    </div>
                    {% endif %} <!-- lead_story.lead_photo -->
                {% endwith %}<!-- lead_story=home_sfront.daily_lead_story -->
            {% else %}
                {% if home_sfront.lead_stories %}
                    {% for story in home_sfront.lead_stories %}
                    {% if story.lead_photo %}
                    <div>
                        <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            {% render_template_for story in "includes/category" %}
                            <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                            {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                            
                            {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                            
                            <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                            {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        </div>
                    </div>
                    {% endif %} <!-- story.lead_photo -->
                    {% endfor %}<!-- story in homesfront.lead_stories -->

                    {% if home_sfront.photo_gallery %}
                        {% for gallery in home_sfront.photo_gallery %}
                            {% with photo=gallery.get_photo_list.0 %}
                                {% if photo %}
                                    <div>
                                        <a href="{{gallery.get_absolute_url}}"><img src="{% mogrify photo.photo.url resize "440x250" %}" alt=""></a>
                                        <div class="dragdealer-slide-title">
                                            <span class="category">Photo Gallery</span>
                                            <h4><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h4>
                                            {% if gallery.blurb %}<p class="intro-type">{{ gallery.blurb|striptags|truncatewords:"20" }}{% get_cached_comment_count for gallery as comment_count %}{% if comment_count %}<small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</p>{% endif %}  
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}

                {% else %}<!-- home_sfront.lead_stories -->
                    {% for story in story_list %}
                    {% if story.lead_photo %}
                    <div>
                        <a href="{{ story.get_absolute_url }}"><img src="{% mogrify story.lead_photo.cropped.url resize "440x250" %}" alt=""></a>
                        <div class="dragdealer-slide-title">
                            {% render_template_for story in "includes/category" %}
                            <h4><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h4>
                            {% if story.tease %}<p class="intro-type">{{ story.tease|striptags|truncatewords:"20" }}</p>{% endif %}
                            
                            {% render_template_for story in "includes/byline" %}&nbsp;&nbsp;
                            
                            <span class="highlight-type">{{ story.pub_date|date:"N j"}}</span>

                            {% get_cached_comment_count for story as comment_count %}{% if comment_count %}&nbsp;&nbsp;<span class="comment-count-type">{{ comment_count }} comment{{ comment_count|pluralize }}</span>{% endif %}
                        </div>
                    </div>
                    {% endif %}<!-- story.lead_photo -->
                    {% endfor %}

                    {% if home_sfront.photo_gallery %}
                        {% for gallery in home_sfront.photo_gallery %}
                            {% with photo=gallery.get_photo_list.0 %}
                                {% if photo %}
                                    <div>
                                        <a href="{{gallery.get_absolute_url}}"><img src="{% mogrify photo.photo.url resize "440x250" %}" alt=""></a>
                                        <div class="dragdealer-slide-title">
                                            <span class="category">Photo Gallery</span>
                                            <h4><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h4>
                                            {% if gallery.blurb %}<p class="intro-type">{{ gallery.blurb|striptags|truncatewords:"20" }}{% get_cached_comment_count for gallery as comment_count %}{% if comment_count %}<small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</p>{% endif %}  
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}

                {% endif %}<!-- sfront.lead_stories -->
            {% endif %}<!-- sfront.daily_lead_story -->
            </div> <!-- Carosel -->
        </div>
        
        
        <!-- Blog Tabs 
        ================================================= -->
        
        {% if home_sfront.weblog_tabs %}
        <div class="section section_wide blog_tabs">
            <div id="tabs">
                <ul>
                    {% for weblog in home_sfront.weblog_tabs %}
                        <li class="tabs-{{weblog.slug}}{% if forloop.counter == 3 %} last{% endif %}"><a class="link-{{weblog.slug}}" href="#tabs-{{ forloop.counter }}">{{weblog.name}}</a></li>
                    {% endfor %}
                </ul>
                {% for weblog in home_sfront.weblog_tabs %}
                    {% if weblog %}
                        <div id="tabs-{{ forloop.counter }}" class="main-blog-tab blog-{{weblog.slug}}">
                            {% get_blog_entries_by_slug weblog.slug 4 as blog_tab_list %}
                            {% if blog_tab_list %}
                            <ul class="blog_stories">   
                                {% if blog_tab_list.0.images.count > 0 %}
                                    <li class="first-imaged">
                                        <a class="thumbnail" href="{{ blog_tab_list.0.images.all.0.get_absolute_url }}"><img src="{% mogrify blog_tab_list.0.images.all.0.image.url resize "100x110" %}" title="" alt=""></a>
                                            <h4 class="headline-small"><a href="{{ blog_tab_list.0.get_absolute_url }}">{{ blog_tab_list.0.title }}</a></h4>
                                            <p class="intro-type">{% if blog_tab_list.0.summary %}{{ blog_tab_list.0.summary|striptags|truncatewords:"20" }}{% else %}{{ blog_tab_list.0.body|striptags|truncatewords:"20" }}{% endif %}
                                            <br/>
                                            <span class="highlight-type">{{ blog_tab_list.0.pub_date|date:"N j" }}</span>
                                            </p>
                                    </li>
                                    <div class="fall_left"><!-- This is taken up by the second fall left div. -->
                                {% else %}
                                    <div class="fall_left">
                                        <li class="first-imageless">
                                            <h4 class="headline-small"><a href="{{ blog_tab_list.0.get_absolute_url }}">{{ blog_tab_list.0.title }}</a></h4>
                                            {% render_template_for blog_tab_list.0 in "includes/byline" %}&nbsp;&nbsp;
                                            <p class="intro-type">{% if blog_tab_list.0.summary %}{{ blog_tab_list.0.summary|striptags|truncatewords:"20" }}{% else %}{{ blog_tab_list.0.body|striptags|truncatewords:"20" }}{% endif %}</p>
                                            <span class="highlight-type">{{ blog_tab_list.0.pub_date|date:"N j" }}</span>
                                        </li>
                                {% endif %}

                                    </div>
                                    <ul class="blog_sub_stories">
                                        {% for blog_post in blog_tab_list|slice:"1:" %}
                                        <li {% if forloop.last %}class="last"{% endif %}>
                                            <h5 class="headline-list"><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h5>
                                        </li>
                                        {% endfor %}
                                    </ul> <!--  Blog Sub_Stories --> 
                            </ul> <!--  Blog Stories  -->                      
                            <span class="lone-link"><a href="/weblogs/{{ weblog.slug }}">More posts in {{ weblog.title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/weblogs/">All Blog Posts</a></span>
                            {% endif %} <!-- entry_list -->
                        </div>
                    {% endif %}
                {% endfor %}
                

            </div> <!-- Tabs -->
        </div><!-- /Blog Tabs -->
        {% endif %}
    

<!-- LATEST MEDIA 
============================================================================= -->
            
    <div class="section_wide">
            {% get_latest_content for photogalleries.gallery as latest_gallery %}
            <h3 class="section_tag">Latest Galleries</h3>
            <ul class="homepage-multimedia">
                <li class="multimedia-large">
                    <!--
                    <a class="thumbnail" href="{{ latest_video.0.get_absolute_url }}" rel="video_player_swf"><img src="{% mogrify latest_video.0.thumbnail_photo.url resize "290x194" %}" alt=""></a>
                    -->
                    {% with gallery=latest_gallery.0 %}
                    <a class="thumbnail" href="{{ gallery.get_absolute_url }}">
                        {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                        {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                            <img src="{% mogrify img resize "290x194" %}" alt="">
                        {% endwith %}
                        {% endwith %}
                    </a>
                    {% endwith %}
                </li>
                <li class="multimedia-small multimedia-far-right">
                    {% for gallery in latest_gallery|slice:"1:2" %}
                        <!--
                        <a class="thumbnail" href="{{ video.get_absolute_url }}" rel="video_player_swf"><img src="{% mogrify video.thumbnail_photo.url resize "140x92" %}" alt=""></a>
                        -->
                        <a class="thumbnail" href="{{ gallery.get_absolute_url }}">
                            {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                            {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                                <img src="{% mogrify img resize "140x92" %}" alt="">
                            {% endwith %}
                            {% endwith %}
                        </a>
                    {% endfor %}
                </li>
                <li class="multimedia-small multimedia-far-right">
                   <img style="float:left;width:10px;padding-top:3px;" src="{{ STATIC_MEDIA_URL }}jacksonfreepress/2.3.0/images/arrows/top.gif"/>
                   <span class="category video"><a href="/galleries/">Gallery</a></span>
                   <span class="caption video-caption"><a href="{{ latest_video.1.get_absolute_url }}">{{ latest_gallery.1.name }}</a></span>
                   <br/>
                   <img style="float:left;width:5px;height:10px;padding:2px 0 0 5px;clear:both;" src="{{ STATIC_MEDIA_URL }}jacksonfreepress/2.3.0/images/arrows/left.gif"/>
                    <span class="category video"><a href="/galleries/">Gallery</a></span>
                   <span class="caption video-caption"><a href="{{ latest_video.0.get_absolute_url }}">{{ latest_gallery.0.name }}</a></span>
                </li>

                {% for gallery in latest_gallery|slice:"3:6" %}
                    <li class="multimedia-bottom multimedia-small{% if forloop.counter == 3 %} multimedia-far-right{% endif %}">
                        <a href="{{ gallery.get_absolute_url }}">
                            {% with p=gallery.galleryphotos.all.0.photo.photo|stringformat:"s" %}
                            {% with img="http://jacksonfreepress.media.clients.ellingtoncms.com/"|add:p %}
                                <img src="{% mogrify img resize "140x92" %}" alt="">
                            {% endwith %}
                            {% endwith %}
                        </a>
                    </li>
                {% endfor %}

                {% for gallery in latest_gallery|slice:"3:6" %}
                    <li class="multimedia-small{% if forloop.counter == 3 %} multimedia-far-right{% endif %}">
                        <span class="category"><a href="/photos/galleries/">Gallery</a></span>
                        <br/>
                        <span class="caption"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></span>
                        <br/>
                        <span class="highlight-type">{{ gallery.creation_date|date:"M d" }}</span>
                    </li>
                {% endfor %}
            </ul>
    </div> <!-- /Section Wrapper -->


<!-- LOWER SECTIONS 
========================================================================================== -->
{% if home_sfront.lower_sections %}
        {% for section in home_sfront.lower_sections %}
            {% render_template_for section in "includes/lower_sections" %}
        {% endfor %}
{% endif %}

    {% endif %} <!-- if sfront -->
{% endblock %} <!-- content -->



         
