{% extends "staff/base_staff.html" %}


{% block title %}{{ staffmember.get_full_name }} | Stories{% endblock %}
{% block body_class %}{{ block.super }} staff_story_archive{% endblock %}
{% block body_id %}staff_{{ staffmember.id }}{% endblock %}


{% block content_title %}
  <p class="back"><a href="../">Back to profile</a></p>
  <h2 class="headline-large">{{ staffmember.get_full_name }}</h2>
  <h3 class="subtitle">{% if request.GET.opinion %}Commentary{% else %}Stories{% endif %} by {{ staffmember.first_name }}</h3>
{% endblock %}


{% block content %}
  {% load mailfriend content cached_comments delta search generic_content listutil %}

{% retrieve_object categories.category 91 as op_category %}
{% retrieve_object categories.category 93 as ed_category %}

{% if request.GET.opinion %}
  {% exclude_from_list story_list op_category.stories.all as story_only_list %}
  {% exclude_from_list story_list story_only_list as story_list %}
  {% exclude_from_list story_list ed_category.stories.all as story_list %}
{% else %}
  {% exclude_from_list story_list op_category.stories.all as story_list %}
  {% exclude_from_list story_list ed_category.stories.all as story_list %}
{% endif %}

  {% if story_list %}
      {% if story_list %}
        <div class="list story_list">
          {% for story in story_list %}
            {% render_template_for story in "includes/lists" %}
          {% endfor %}
        </div>
      {% endif %}
    
    {% comment %}
    {% if staffmember.user.blog_entries.count %}
      <div class="section section_end">
        <h3>Blog Entries</h3>
        <ul>
          {% for entry in staffmember.user.blog_entries.all %}
            {% get_cached_comment_count for entry as comment_count %}
            <li{% if forloop.last %} class="last"{% endif %}><a href="{{ entry.get_absolute_url }}">{{ entry.title|capfirst }}</a>
              {% if comment_count %}<small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endcomment %}
  {% endif %}

  {% include "includes/pagination.html" %}
{% endblock %}
