
{% load stories metadata %}
<span class="byline">
    {% if not object|is_in_category:"/editorial" %}
        {% if not object.bylines.count %}
            {% if not object|is_in_category:"/associated-press" %}
                By {% if object.one_off_byline %}{{ object.one_off_byline }}{% else %}JFP Staff{% endif %}
            {% endif %}
        {% else %}
            {% if object.bylines.count %}
                {% if object.bylines.all.0.id == 873 %}
                    {{ object.bylines.all.0 }}
                {% else %}
                    By {% for author in object.bylines.all %}<a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        By Editorial Board
    {% endif %}

    {% if object|is_in_category:"/associated-press" %}{% if object.bylines.count %},{% else %}By The{% endif %} Associated Press{% endif %}
</span>