{% extends "flatpages/default.html" %}
{% block body_class %}flatpage_default advertise{% endblock %}

{% block content_title %}
  <h2>Advertise</h2>
{% endblock %}

{% block content %}
  <div class="section_wrapper">
    <div class="section section_wide">

<h4>Ready to Reach More Customers in Jackson?</h4>
<br/>

<p>The Jackson Free Press offers your business, service or organization a cost-effective way to reach more than <strong>69,500</strong>(*) adults readers in the Jackson Metro area, according to the 2008-9 Media Audit for the Jackson MSA. Who are these readers?</p>

<p><strong>Young.</strong> Our readership is primarily 18-45, evenly split between male and female and, as Jackson's most widely distributed newsweekly, we reach people in all parts of Jackson, the Metro and beyond.</p>

<p><strong>Affluent.</strong> Over 54% of our readers have household incomes of $50,000 or more per year and 37% make over $75,000 a year. The majority have attended college, and the JFP offers the highest concentration of young readers with professional or technical jobs of any print outlet in the Jackson Metro.</p>

<p><strong>Movers and Shakers.</strong> As you might guess, JFP readers are more likely than most Jackson media consumers to spend their nights and weekends in sit-down restaurants, bars, nightclubs, and they're among the most frequent attendees at plays, college games and rock concerts. What you may not know, however, is that 33 percent of our readers plan to buy a car/truck/SUV in the next year and over 10,000 of our readers plan to remodel their home in the next 12 months.</p>

<p><strong>Influential.</strong> With a marketing message in the Jackson Free Press, you can rest assured that you're reaching Jackson's young influentials -- the opinion leaders that other people turn to for recommendations and suggestions. Whether it's a banking decision, a real estate agent, where to eat dinner tonight, or the best band to hear this weekend, we like to say that the Jackson Free Press provides the words for word-of-mouth in the Jackson Metro.</p>

<p><strong>On the Town.</strong> Start with this factoid -- JFP has more cume adult readers than any local radio station has cume adult listeners. And we've got more cume adult readers than any other Jackson-based weekly or monthly. And those readers rely on the JFP to help them plan what they're going to do this evening and weekend. It's the perfect place to put your message, because many of our readers consider the ads important content!</p>

<p>Our rates are extremely competitive, and we offer comprehensive service for our small business clients, including art design, consultation and service after the sale.</p>

<h3>Get Info.</h3>

<p>If you'd like more information about the Jackson Free Press, please write our advertising department and let us know. We'd be happy to send you a media kit and advertising rate sheet by fax, mail or as a PDF attachment via e-mail.</p>

<p>Fill out the form below, or call 601-362-6121 x11 to reach our advertising department, request a media kit and receive other promotional materials.</p>

<form class="advertising-request" action="https://service.capsulecrm.com/service/newlead" method="post">
<input type="hidden" name="REVIEW_ID" value="27204"/> 
<input type="hidden" name="FORM_ID" value="8524f221-17b2-4de7-8d3a-db3f70752c03">
<input type="hidden" name="COMPLETE_URL" value="http://{{ site.domain }}/advertise/thanks/">
<input type="hidden" name="TAG" value="Web_Lead">
<label for="first_name">First name</label><input type="text" name="FIRST_NAME" id="first_name">
<label for="last_name">Last name</label><input type="text" name="LAST_NAME" id="last_name">
<label for="org_name">Organization/Business</label><input type="text" name="ORGANISATION_NAME" id="org_name">
<label for="email">Email</label><input type="text" name="EMAIL" id="email">
<label for="phone">Phone</label><input type="text" name="PHONE" id="phone">
<label for="note">Details</label><input type="text" name="NOTE" id="note">

<label for="contact_type">How should we contact you?</label> <select name="CUSTOMFIELD[contact_type]" id="contact_type">
<option>e-mail</option>
<option>call me</option>
</select>

<label for="biztype">Advertising For</label><select name="CUSTOMFIELD[biztype]" id="biztype">
<option>Choose One...</option>
<option>Retail Business</option>
<option>Restaurant</option>
<option>Bar/Nightclub</option>
<option>Home Services Business</option>
<option>Wellness/Beauty</option>
<option>Real Estate</option>
<option>Automotive or Auto Services</option>
<option>Non-Profit Organization or Group</option>
<option>Special Event</option>
<option>Regional/National Company</option>
<option>Advertising or Placement Agency</option>
<option>Other</option>
</select>

<label for="newsletter">Subscribe to our ad newsletter?</label> <select name="CUSTOMFIELD[newsletter]" id="newsletter">
<option>yes</option>
<option>no</option>
</select>
<br/>
<input type="submit" class="button" value="Send"/>
</form>

<p class="asterisk"><small>* Readership (print + unique local Web) and statistics based on a comprehensive survey of adults in the Jackson MSA conducted by The Media Audit, a national polling organization. For more information, contact your sales representative at the JFP.</small></p>
    </div>

    <div class="section section_end">

      <h3>Need to place a Classified?</h3>
      <p>At <a href="http://www.jacksonfreepress.com/classifieds/">JFPClassifieds.com</a> you can enter your own classified ad 24/7! Classified ads are free online and $10 per week (up to 25 words) in print. Buy 3 weeks, get the 4th week free! Or call 601-362-6121 x1 to place your classified.</p>

      <h3>Interested in Web Advertising?</h3>
      <p>You can place your own display or text ad using our BlogAds online feature. Prices start at <strong>$20 per week</strong>. We also offer contract display advertising at rates starting around $105 per week. Write us for more information on display ads.</p>

      <h3>JFP Kudos.</h3>
      <ul>
            <li>
            "Working with Jackson Free Press to publicize The Mississippi Chorus could not have been easier thanks to a competent staff -- and the results have been amazing. Not only to get the word out about our upcoming events, but we have gained many new voices, plus several returning singers, since advertising with JFP as well. Thanks!"
            <br/>
            <span class="highlight-type">Sherry Harfst, Mississippi Chorus</span>
            </li>
            <li>
            "Best-looking ads we've ever done."
            <br/>
            <span class="highlight-type">Village Beads</span>
            </li>
            <li>
            "My advertisements reach a wide range of customers. The staff is very professional and creative. I can keep our name and our message out there in an economical way."
            <br/>
            <span class="highlight-type">Kaye Simmons, The Shoe Bar</span>
            </li>
            <li>
                  "I have had the exciting experience of being part of the teams opening three new restaurants in Jackson area over the last four years. Jackson Free Press effectively communicates to the dining public your restaurant’s message."
                  <br/>
                  <span class="highlight-type">Brian O'Shea, Local Restauranteur</span>
            </li>
      </ul>
    </div>
    
  </div>
{% endblock %}