{% extends "flatpages/default.html" %}
{% block body_class %}flatpage_default music_venues{% endblock %}

{% block content_search %}
  <form action="{% url ellington_search_vertical "places.place" %}" method="get" class="vertical_search_form" autocomplete="off">
    <p>
      <input type="text" name="q" value="" placeholder="Search music venues">
      <button type="submit">Search</button>
    </p>
  </form>
{% endblock %}

{% block content %}
  {% load mailfriend social generic_content %}
  {% retrieve_object places.placetype 110 as music_venues %}

  {% with place_list=music_venues.place_set.all %}
    {% if place_list %}
      <table class="place_list">
        <tr>
          <th>Place</th>
          <th>Neighborhood</th>
        </tr>
        {% for place in place_list %}
        <tr>
          <td class="title">
            <h4 class="name"><a href="{{ place.get_absolute_url }}">{{ place.get_name }}</a></h4>
            <h5 class="address">{{ place.get_address }}</h5>
            {% if place.phone1 %}<p class="phone">{{ place.phone1 }}</p>{% endif %}
          </td>
          <td class="neighborhood">
            <a href="{{ place.neighborhood.get_absolute_url }}">{{ place.neighborhood.name }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% include "includes/pagination.html" %}
  {% endwith %}
{% endblock %}