{% extends "events/base_events.html" %}


{% block title %}{{ event.title }}{% endblock %}
{% block body_class %}{{ block.super }} event_detail{% endblock %}
{% block body_id %}event_{{ event.id }}{% endblock %}


{% block feed_link %}
  {% load content %}
  <link type="application/rss+xml" rel="alternate" href="/rss/comments/objects/{{ event|content_type_id }}/{{ event.pk }}/">
{% endblock %}


{% block extended_meta %}
  {% if event.short_description %}
    <meta name="description" content="{{ event.short_description }}">
  {% endif %}
  <meta property="og:title" content="{{ event.title }}">
  <meta property="og:type" content="activity">
  <meta property="og:url" content="http://{{ site.domain }}{{ event.get_absolute_url }}">
{% endblock %}


{% block content_title_wrapper %}{% endblock %}

{% block content %}
  {% load banned comments mailfriend weblogs social content oembed_tags %}

  <div class="title">
    <h2>{% if event.is_cancelled %}CANCELLED: {% else %}{% if event.is_sold_out %}SOLD OUT: {% endif %}{% endif %}{{ event.title }}</h2>
    {% if event.short_description %}<h3>{{ event.short_description }}</h3>{% endif %}
  </div>

  <ul class="title_info">
    <li><strong>Ongoing:</strong> <span>{% if expire_date %}until {{ expire_date|date:"l, F j, Y" }}{% else %}indefinitely{% endif %}</span></li>
    {% for time in event.recurring_event_times.all %}
    <li><strong>{{ time.get_day }}:</strong> <span>{{ time.start_time|time:"g:iA"|lower }}</span></li>
    {% endfor %}
    <li><strong>Where:</strong> <span>{% if event.one_off_place %}{{ event.one_off_place }}{% else %}<a href="{{ event.place.get_absolute_url }}">{{ event.place.name }}</a>, {{ event.place.city.city }}{% endif %}</span></li>
    <li><strong>Cost:</strong> <span>{% if event.get_cost %}{{ event.get_cost }}{% else %}Not available{% endif %} {% if not event.is_in_the_past %}{% if event.ticket_website %}<a href="{{ event.ticket_website|fix_ampersands }}" class="buy_tickets">buy tickets</a>{% endif %}{% endif %}</span></li>
    <li><strong>Age limit:</strong> <span>{{ event.get_age_limit }}</span></li>
  </ul>


  {% if event.long_description %}
    {{ event.long_description|striptags|linebreaks|oembed:"320x264" }}
  {% endif %}

  {% if drink_special_list %}
    <section>
      <h3 id="drinkspecials">Drink special{{ drink_special_list|pluralize }}</h3>
      <ul>
        {% for drink_special in drink_special_list %}
          <li>{{ drink_special.day }}s at {{ event.place.get_name }}: {{ drink_special.special }}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if related_links %}
    <section>
      <h3 id="related">Related links</h3>
      <ul>
        {% for link in related_links %}
          <li><a href="{{ link.url }}">{{ link.link_text }}</a>{% if link.pub_date %} ({{ link.pub_date|date:"N j, Y" }}){% endif %}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <p class="posted">This event was posted {{ event.posted_date|date:"N j, Y" }} and last updated {{ event.updated_date|date:"N j, Y" }}</p>

  {% render_template_for event in "includes/tools" %}

  {% with event as object %}
    {% include "includes/comments.html" %}
  {% endwith %}
{% endblock %}


{% block sidebar %}
  {% if not event.one_off_place and event.place.latitude and event.place.longitude %}
    <div class="map">
      <abbr class="geo" title="{{ event.place.latitude }};{{ event.place.longitude }}">{{ event.place.name }}</abbr>
    </div>
  {% endif %}
  
  <div class="accordion">
     <h2><a href="#">Submit correction</a></h2>
     <div>
       {% if request.user.is_authenticated %}
         <form method="post" action="{% url ellington_events_submit_correction event.pk %}">
           {{ correction_form.as_p }}
           <p class="submit"><button type="submit">Submit correction</button></p>
         </form>
       {% else %}
         <p>Please <a href="/accounts/login/?next={{ request.META.PATH_INFO }}">log in</a> to submit event corrections</p>
       {% endif %}
     </div>
   </div>

  {{ block.super }}
  
 
{% endblock %}
